# Get Data using python-binance

## Import relevant libraries

In [6]:
from binance.client import Client
from dotenv import load_dotenv
import os
import pandas as pd
import datetime

## Set some 'global' parameters

In [7]:
load_dotenv()

True

## Get the data

### Create the client

In [8]:
client = Client(os.environ["BINANCE_API_KEY"], os.environ["BINANCE_SECRET_KEY"])

### Parameters

In [9]:
asset_ticket = "BTCUSDT"
#asset_ticket = "ETHUSDT"
#asset_ticket = "BNBUSDT"

#timestamp = Client.KLINE_INTERVAL_1MINUTE
#timestamp = Client.KLINE_INTERVAL_15MINUTE
#timestamp = Client.KLINE_INTERVAL_1HOUR
timestamp = Client.KLINE_INTERVAL_1DAY

start_date = "1 Jan, 2020"
end_date = "31 Dec, 2022"

### Get the data

In [10]:
klines = client.get_historical_klines(asset_ticket, timestamp, start_date, end_date)

### Convert list of lists to Pandas Datafrae

In [11]:
df_klines = pd.DataFrame(klines, columns = ['open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volumne', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])

### Check the data

In [12]:
df_klines.sample(5)

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
576,1627603200000,40018.49000000,42316.71000000,38313.23000000,42206.37000000,73602.78480500,1627689599999,2939833541.38153644,1797012,37730.42686200,1509172746.20397869,0
63,1583280000000,8760.07000000,8848.29000000,8660.00000000,8750.87000000,38696.48257800,1583366399999,338849891.95293542,454817,19279.33119000,168832874.50723547,0
40,1581292800000,10151.72000000,10188.00000000,9756.00000000,9851.83000000,59573.08461900,1581379199999,590091358.44290697,690308,28618.88324500,283509329.43681316,0
383,1610928000000,35824.99000000,37469.83000000,34800.00000000,36631.27000000,70698.11875000,1611014399999,2554843260.52439897,1707766,35621.50604800,1289347187.16652892,0
742,1641945600000,42729.29000000,44322.00000000,42450.00000000,43902.66000000,33943.29280000,1642031999999,1470906437.71207140,1023902,17584.31885000,762205618.81556500,0

In [13]:
df_klines.describe()

          open_time    close_time  number_of_trades
count  1.096000e+03  1.096000e+03      1.096000e+03
mean   1.625141e+12  1.625227e+12      1.994264e+06
std    2.734839e+10  2.734839e+10      1.808022e+06
min    1.577837e+12  1.577923e+12      1.940100e+05
25%    1.601489e+12  1.601575e+12      8.689578e+05
50%    1.625141e+12  1.625227e+12      1.371944e+06
75%    1.648793e+12  1.648879e+12      2.236206e+06
max    1.672445e+12  1.672531e+12      1.453060e+07

In [14]:
df_klines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   open_time                     1096 non-null   int64
 1   open                          1096 non-null   object
 2   high                          1096 non-null   object
 3   low                           1096 non-null   object
 4   close                         1096 non-null   object
 5   volume                        1096 non-null   object
 6   close_time                    1096 non-null   int64
 7   quote_asset_volumne           1096 non-null   object
 8   number_of_trades              1096 non-null   int64
 9   taker_buy_base_asset_volume   1096 non-null   object
 10  taker_buy_quote_asset_volume  1096 non-null   object
 11  ignore                        1096 non-null   object
dtypes: int64(3), object(9)
memory usage: 102.9+ KB

In [15]:
print(df_klines.isnull().sum())

open_time                       0
open                            0
high                            0
low                             0
close                           0
volume                          0
close_time                      0
quote_asset_volumne             0
number_of_trades                0
taker_buy_base_asset_volume     0
taker_buy_quote_asset_volume    0
ignore                          0
dtype: int64

## Feature Engineering

### Copy original data

In [16]:
df_klines_copy = df_klines.copy()

### Convert 'object' to float pandas

In [17]:
df_klines_copy['open'] = pd.to_numeric(df_klines_copy['open'])
df_klines_copy['high'] = pd.to_numeric(df_klines_copy['high'])
df_klines_copy['low'] = pd.to_numeric(df_klines_copy['low'])
df_klines_copy['close'] = pd.to_numeric(df_klines_copy['close'])
df_klines_copy['volume'] = pd.to_numeric(df_klines_copy['volume'])

### Convert the 'open_time' and 'close_time' to a Pandas DataTime format

In [18]:
df_klines_copy['formatted_open_time'] = pd.to_datetime(df_klines_copy['open_time'], infer_datetime_format=True, unit="ms")
df_klines_copy['formatted_close_time'] = pd.to_datetime(df_klines_copy['close_time'], infer_datetime_format=True, unit="ms")

### Check the data - head and tail

In [19]:
df_klines_copy.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time
0,1577836800000,7195.24,7255.0,7175.15,7200.85,16792.388165,1577923199999,121214452.11606228,194010,8946.95553500,64597785.21233434,0,2020-01-01,2020-01-01 23:59:59.999
1,1577923200000,7200.77,7212.5,6924.74,6965.71,31951.483932,1578009599999,225982341.30114030,302667,15141.61134000,107060829.07806464,0,2020-01-02,2020-01-02 23:59:59.999
2,1578009600000,6965.49,7405.0,6871.04,7344.96,68428.500451,1578095999999,495098582.96203543,519854,35595.49627300,257713113.85172859,0,2020-01-03,2020-01-03 23:59:59.999
3,1578096000000,7345.00,7404.0,7272.21,7354.11,29987.974977,1578182399999,219874240.93994811,279370,16369.38224800,120035111.72407165,0,2020-01-04,2020-01-04 23:59:59.999
4,1578182400000,7354.19,7495.0,7318.00,7358.75,38331.085604,1578268799999,284848683.78917621,329209,19455.36956400,144600094.38965074,0,2020-01-05,2020-01-05 23:59:59.999

In [20]:
df_klines_copy.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time
1091,1672099200000,16919.39,16972.83,16592.37,16706.36,173749.58616,1672185599999,2918379509.53140980,5047628,86096.58586000,1446098274.56533820,0,2022-12-27,2022-12-27 23:59:59.999
1092,1672185600000,16706.06,16785.19,16465.33,16547.31,193037.56577,1672271999999,3210894236.81239060,5465468,96118.18717000,1598767893.17279690,0,2022-12-28,2022-12-28 23:59:59.999
1093,1672272000000,16547.32,16664.41,16488.91,16633.47,160998.47158,1672358399999,2671665748.08162260,4553877,80977.62443000,1343799862.99502670,0,2022-12-29,2022-12-29 23:59:59.999
1094,1672358400000,16633.47,16677.35,16333.00,16607.48,164916.31174,1672444799999,2726831056.72502610,4310415,82170.47490000,1358631100.75924430,0,2022-12-30,2022-12-30 23:59:59.999
1095,1672444800000,16607.48,16644.09,16470.00,16542.40,114490.42864,1672531199999,1897047504.91889730,3344374,57021.06919000,944834393.34133540,0,2022-12-31,2022-12-31 23:59:59.999

### Create the 'upper_shadow', 'lower_shadow' and 'real_body' values (to compose the CURL)

In [21]:
def create_curl_values(df):
    try:
        results_upper_shadow = []
        results_lower_shadow = []
        results_real_body = []
        for index, row in df.iterrows():
            if row.open > row.close:
                results_upper_shadow.append(row.high - row.open)
                results_lower_shadow.append(row.close - row.low)
                results_real_body.append(row.open - row.close)
            else:
                results_upper_shadow.append(row.high - row.close)
                results_lower_shadow.append(row.open - row.low)
                results_real_body.append(row.close - row.open)

        df['upper_shadow'] = results_upper_shadow
        df['lower_shadow'] = results_lower_shadow
        df['real_body'] = results_real_body

        return df

    except Exception as e:
        print(row.formatted_open_time)
        print(e)

In [22]:
df_klines_copy = create_curl_values(df_klines_copy)

### Check the data - head and tail

In [23]:
df_klines_copy.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,upper_shadow,lower_shadow,real_body
0,1577836800000,7195.24,7255.0,7175.15,7200.85,16792.388165,1577923199999,121214452.11606228,194010,8946.95553500,64597785.21233434,0,2020-01-01,2020-01-01 23:59:59.999,54.15,20.09,5.61
1,1577923200000,7200.77,7212.5,6924.74,6965.71,31951.483932,1578009599999,225982341.30114030,302667,15141.61134000,107060829.07806464,0,2020-01-02,2020-01-02 23:59:59.999,11.73,40.97,235.06
2,1578009600000,6965.49,7405.0,6871.04,7344.96,68428.500451,1578095999999,495098582.96203543,519854,35595.49627300,257713113.85172859,0,2020-01-03,2020-01-03 23:59:59.999,60.04,94.45,379.47
3,1578096000000,7345.00,7404.0,7272.21,7354.11,29987.974977,1578182399999,219874240.93994811,279370,16369.38224800,120035111.72407165,0,2020-01-04,2020-01-04 23:59:59.999,49.89,72.79,9.11
4,1578182400000,7354.19,7495.0,7318.00,7358.75,38331.085604,1578268799999,284848683.78917621,329209,19455.36956400,144600094.38965074,0,2020-01-05,2020-01-05 23:59:59.999,136.25,36.19,4.56

In [24]:
df_klines_copy.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,upper_shadow,lower_shadow,real_body
1091,1672099200000,16919.39,16972.83,16592.37,16706.36,173749.58616,1672185599999,2918379509.53140980,5047628,86096.58586000,1446098274.56533820,0,2022-12-27,2022-12-27 23:59:59.999,53.44,113.99,213.03
1092,1672185600000,16706.06,16785.19,16465.33,16547.31,193037.56577,1672271999999,3210894236.81239060,5465468,96118.18717000,1598767893.17279690,0,2022-12-28,2022-12-28 23:59:59.999,79.13,81.98,158.75
1093,1672272000000,16547.32,16664.41,16488.91,16633.47,160998.47158,1672358399999,2671665748.08162260,4553877,80977.62443000,1343799862.99502670,0,2022-12-29,2022-12-29 23:59:59.999,30.94,58.41,86.15
1094,1672358400000,16633.47,16677.35,16333.00,16607.48,164916.31174,1672444799999,2726831056.72502610,4310415,82170.47490000,1358631100.75924430,0,2022-12-30,2022-12-30 23:59:59.999,43.88,274.48,25.99
1095,1672444800000,16607.48,16644.09,16470.00,16542.40,114490.42864,1672531199999,1897047504.91889730,3344374,57021.06919000,944834393.34133540,0,2022-12-31,2022-12-31 23:59:59.999,36.61,72.40,65.08

## Export the Data

### Export parameters

In [ ]:
export_path = "../data"
export_filename = "binance" + \
                  "_" + asset_ticket + \
                  "_" + timestamp + \
                  "_from_" + datetime.datetime.strptime(start_date,'%d %b, %Y').strftime('%Y_%m_%d') + \
                  "_to_" + datetime.datetime.strptime(end_date,'%d %b, %Y').strftime('%Y_%m_%d')
export_extension = ".csv"
full_export_path = os.path.join(export_path, export_filename + export_extension)

### Export

In [ ]:
df_klines_copy.to_csv(full_export_path, index=False)